html{
	width: 400px;
	height: 600px;
	overflow: auto;
}
.btn-project{
	visibility: visible;
}
.btn-group-horizontal{
	display: list-item;
	text-align: start;
	overflow: scroll;
	height: 450px;
}
.label-project{
	text-align: start;
	border: none;
}
.banner{
	position:fixed;
	top: 0;
	right: 0;
	width: 300px;
	border: 3px solid #73AD21;
}