<div ng-controller="ProjectCtrl">

    <p>
        Hi {{name}}, welcome to yeti-hunt! <a ng-click="logout()" ui-sref="login">logout</a>
    </p>

    <p>Selected project: <h5>{{ selectedProject }}</h5></p>
    <form name="projectForm" class="btn-group-horizontal">
        <span ng-repeat="project in projects" class="btn btn-outline-primary text-warning label-project">
            <label 
                for="project-{{project.projectName}}" >
                <input 
                    type="radio" 
                    name="project" 
                    class="btn-check btn-project"
                    value="{{ project.projectName }}" 
                    id="project-{{ project.projectId }}"
                    ng-checked="project.checked" 
                    ng-model="$parent.selectedProject" 
                    ng-change="handleProjectClick(project)"
                >
                <h5>{{ project.projectName }} </h5>
                <h6 class="text-info">by {{ project.teamName }}</h6>
                <time class="text-secondary" datetime="{{ project.lastVisitAt }}">{{ project.lastVisitAtText }}</time>
                <a ui-sref="projectContent({projectId: project.projectId})"  class="text-success">more</a>
            </label>
        </span>
    </form>


    <!-- <div class="btn-group btn-group-horizontal" role="group" aria-label="Project Selection Group">
        <div cc-Choice=""></div>
    </div> -->
    <!-- <a ng-click="showSearchOptions()" class="btn btn-block btn-info">
        Scrape Search Results</a>
        <br/>

        <a ng-click="fetchMyHistory()" class="btn btn-block btn-info">
        Scrape My Purchase History</a>
        <br/>
        
            <div class="row">
              <div class="jumbotron text-muted text-center">
                  <p>Need Assistance?
                    <a target="_blank" href="https://yeti-hunt.com/contact">Contact Support</a>!</p>
              </div>
          </div> -->
</div>